{% extends 'layout.html' %}

{% block body %}


<div class="jumbotron text-center">
    <h1> Encryption </h1>

    <p class="lead"> Encrypting Stuff For You :)</p>

    <p> Check out the links below: </p>

    <ul>
        <li><a href="/encryption/additive_cypher"> Additive Cypher </a>></li>
        <li><a href="/encryption/multiplicative_cypher"> Multiplicative Cypher </a>></li>
        <li><a href='/encryption/hilldigraph_cypher'> Hill Digraph Cypher </a>></li>
    </ul>
</div>







{% endblock %}