{% extends 'layout.html' %}

{% block body %}

<form method="POST">
    
    {% if type_of_cypher=='hilldigraph' %}

        <p> Key (in Matrix form) </p> 
        <p> A <input type='text' name="a"> 
            &emsp; B <input type='text' name="b"> </p>>
        <p> C <input type='text' name="c"> 
            &emsp; D <input type='text' name="d"> </p>>

    {% else %}

        <p> Key: &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type='text' name="a"> </p>>
    
    {% endif %}

<p> Text to be encrypted: <input type='text' name="text"> </p>
<input type="submit">
</form>

{% endblock %}